nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
}
.active{
    color: aqua;
    border-bottom: 2px solid white;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}
nav ul a:hover{
    color: rgb(107, 211, 211);
    border-bottom: 2px solid white;
}
nav h1{
    font-size: 30px;
    background: linear-gradient(to right, rgb(66, 180, 205),white );
    background-clip: text;
    color: transparent;
}